<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>TrainTicketReservationSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerRegistrationServlet</display-name>
    <servlet-name>CustomerRegistrationServlet</servlet-name>
    <servlet-class>servlet.CustomerRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegistrationServlet</servlet-name>
    <url-pattern>/CustomerRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServlet</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>servlet.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/CustomerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainDetailsServlet</display-name>
    <servlet-name>TrainDetailsServlet</servlet-name>
    <servlet-class>servlet.TrainDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainDetailsServlet</servlet-name>
    <url-pattern>/TrainDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTicketServlet</display-name>
    <servlet-name>BookTicketServlet</servlet-name>
    <servlet-class>servlet.BookTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicketServlet</servlet-name>
    <url-pattern>/BookTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>servlet.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTicketServlet</display-name>
    <servlet-name>ViewTicketServlet</servlet-name>
    <servlet-class>servlet.ViewTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTicketServlet</servlet-name>
    <url-pattern>/ViewTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelTicketServlet</display-name>
    <servlet-name>CancelTicketServlet</servlet-name>
    <servlet-class>servlet.CancelTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTicketServlet</servlet-name>
    <url-pattern>/CancelTicketServlet</url-pattern>
  </servlet-mapping>
</web-app>